<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
    <!-- Include CSS files here -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Include JavaScript files here -->
    <script src="/js/scripts.js"></script>
</head>
<body>
<header>
    <h1>Rest Api Documentation</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/distributor}">Distributor</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
